@import "../util/";

.btn-small {
  font-family: $header-font-family;
  font-weight: 600;
  padding: 0.50rem 1.0rem;
  border-radius: $border-radius-button;
  cursor: pointer;
  transition: all $fade-duration ease;
  letter-spacing: $letter-spacing;
  font-size: 0.85rem;
  background-color: $baytree-green;
  color: $white;
  border: 1px solid transparent;
  
 
  &:hover {
    background-color: $baytree-green-600;
    border: 1px solid $baytree-green;
  }

  &:focus {
    border-color: $baytree-green;
    outline: none;
    box-shadow: $baytree-green-400 0px 0px 0px 5px;
  }

  &.white {
    background-color: white;
    color: $black;
    border: 1px solid black;
    margin-left: 1rem;

    &:hover {
      background-color: #D5D8DC;
      border: 1px solid #D5D8DC;
    }

    &:focus {
      border-color: #ABB2B9;
      outline: none;
      box-shadow: #F4F5F6 0px 0px 0px 5px;
    }
  }
}

a.btn {
  &,
  &:hover,
  &:focus {
    text-align: center;
    display: block;
    color: $white;
  }
}
