@import "../util/";

.avatar-header {
  display: flex;
  align-items: center;

  & > * + * {
    margin-left: 1rem;
  }

  & > .avatar div {
    background-color: $baytree-navy;
  }

  @include viewport(mobile-tablet) {
    & > .new-session {
      display: none;
    }
  }
}
