@import "../util/";

.btn {
  font-family: $header-font-family;
  font-weight: 700;
  padding: 0.95rem 1.25rem;
  background-color: $baytree-green;
  color: $white;
  border: 1px solid transparent;
  border-radius: $border-radius-button;
  cursor: pointer;
  transition: all $fade-duration ease;
  letter-spacing: $letter-spacing;
  width: 100%;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $baytree-green-600;
    border: 1px solid $baytree-green;
  }

  &:focus {
    border-color: $baytree-green;
    outline: none;
    box-shadow: $baytree-green-400 0px 0px 0px 5px;
  }

  &.btn-secondary {
    background-color: $baytree-navy;

    &:hover {
      background-color: $grey-600;
      border: 1px solid $baytree-navy;
    }

    &:focus {
      border-color: $baytree-navy;
      outline: none;
      box-shadow: $grey-400 0px 0px 0px 5px;
    }
  }

  &.submitting {
    background-color: $baytree-green-400;

    .loading {
      margin-left: 0.5rem;
      .spinner {
        border: 0.25rem solid #f4f5f6;
        border-top: 0.25rem solid #48b030;
        width: 1.5rem;
      }
    }
  }

}

a.btn {
  &,
  &:hover,
  &:focus {
    text-align: center;
    display: block;
    color: $white;
  }
}

.btn-small {
  font-family: $header-font-family;
  font-weight: 600;
  padding: 0.50rem 1.0rem;
  border-radius: $border-radius-button;
  cursor: pointer;
  transition: all $fade-duration ease;
  letter-spacing: $letter-spacing;
  font-size: 0.85rem;
  background-color: $baytree-green;
  color: $white;
  border: 1px solid transparent;
  
 
  &:hover {
    background-color: $baytree-green-600;
    border: 1px solid $baytree-green;
  }

  &:focus {
    border-color: $baytree-green;
    outline: none;
    box-shadow: $baytree-green-400 0px 0px 0px 5px;
  }

  &.white {
    background-color: white;
    color: $black;
    border: 1px solid black;
    margin-left: 1rem;

    &:hover {
      background-color: #D5D8DC;
      border: 1px solid #D5D8DC;
    }

    &:focus {
      border-color: #ABB2B9;
      outline: none;
      box-shadow: #F4F5F6 0px 0px 0px 5px;
    }
  }
}

a.btn {
  &,
  &:hover,
  &:focus {
    text-align: center;
    display: block;
    color: $white;
  }
}