@import "../util/";

.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .header {
    margin-bottom: 1.5rem;

    &.center {
      & > * {
        margin: auto;
      }
    }
  }

  .actions {
    text-align: center;
    width: 100%;

    & > * + * {
      margin-top: 1rem;
    }

    a {
      display: inline-block;
    }
  }

  & > * + * {
    margin-top: 1rem;
  }

  .form-field {
    width: 100%;

    label {
      display: block;
      margin-bottom: 0.5rem;
    }
  }
}

.control {
  border-radius: $border-radius;
  border: $border-thin-grey;
  padding: 1rem 0.75rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: all $fade-duration-fast ease;
  font-family: $font-family;
  font-size: $font-size;

  & > * + * {
    padding-left: 0.625rem;
  }

  &.focused {
    border-color: $baytree-green;
    box-shadow: $baytree-green-400 0px 0px 0px 3px;
  }

  &.disabled {
    .icon svg path {
      fill: $baytree-navy;
    }

    &,
    & > *:disabled {
      color: $baytree-navy;
      background-color: $grey-50;
      opacity: 1;
    }
  }

  input,
  textarea,
  select {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    font-family: $font-family;
    color: $black;
    background-color: white;
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="time"]::-webkit-inner-spin-button,
  input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    left: 0;
    width: 75%;
    -webkit-appearance: none;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
  }
}
