@import "../util/";

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  &.black svg path {
    fill: $black;
  }

  &.white svg path {
    fill: $white;
  }

  &.baytree-navy svg path {
    fill: $baytree-navy;
  }

  &.baytree-green svg path {
    fill: $baytree-green;
  }

  &.transparent svg path {
    fill: transparent;
  }

  &.action {
    cursor: pointer;
  }
}

.contained-icon {
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all $fade-duration ease;
  height: 100%;

  @supports (height: max-content) {
    height: max-content;
  }

  &.circle {
    border-radius: 50%;
  }

  &.black {
    background-color: $black;
  }

  &.white {
    background-color: $white;
  }

  &.baytree-navy {
    background-color: $baytree-navy;
  }

  &.baytree-green {
    background-color: $baytree-green;
  }

  &.transparent {
    background-color: transparent;
  }

  &.action {
    cursor: pointer;
  }
}
