@import "../util/";

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  

  .spinner {
    border: 1rem solid $grey-50;
    border-top: 1rem solid $baytree-green;
    border-radius: 50%;
    width: clamp(1.5rem, 30vmin ,10rem);
    aspect-ratio: 1/1;
    animation: spin 1.5s linear infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
