@import '../util/';

.mentee-item {
  background-color: $grey-50;
  padding: 1rem 0.875rem 1rem 1.3125rem;
  border-radius: $border-radius;
  display: flex;
  justify-content: space-between;
  transition: all $fade-duration-fast ease;

  &:hover,
  &:focus {
    box-shadow: $grey-200 0px 0px 0px 5px;
    outline: $border-width solid $grey-600;
  }
}
