@import "../util/";

.message-toast {
  position: fixed;
  display: none;
  max-width: max-content;
  width: 100%;
  z-index: 999;
  padding: 1rem 2rem;
  color: $white;
  border-radius: $border-radius;
  top: 1.5rem;
  align-items: center;
  margin: auto;
  background-color: $baytree-navy;
  left: 50%;
  transform: translateX(-50%);

  .icon {
    margin-right: 0.5rem;
  }

  &.show {
    display: flex;
    animation: fade-in-down-toast $fade-duration $fade-cubic-bezier forwards;
  }

  &.success {
    background-color: $baytree-green;
  }
  &.error {
    background-color: $baytree-pink;
  }
}
