@import '../util/';

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: $border-thin-grey;
  height: $nav-height;
  display: flex;
  align-items: center;
  background-color: $white;
  padding-left: $gutter;
  padding-right: $gutter;

  .items {
    margin: auto;
    max-width: $container-max-width;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
