@import '../util/';

.setting-item {
  margin-top: 1rem;
  padding: 0.6rem 0.6rem;
  display: flex;
  transition: all $fade-duration-fast ease;
  border-bottom: $border-thin-grey;

  &:hover,
  &:focus {
    background-color: $grey-200;
    box-shadow: $grey-200 0px 0px 0px 5px;
  }
  .body {
    p {
      margin-top: 0.3rem;
      margin-left: 1rem;
    }
  }
}
