$fade-duration: 0.3s;
$fade-duration-fast: 0.1s;
$fade-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

@keyframes fade-in-down-toast {
  0% {
    opacity: 0;
    transform: translate(-50%, -1rem);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
