$baytree-green: #48b030;
$baytree-green-800: #6dc059;
$baytree-green-600: #91d083;
$baytree-green-400: #b6dfac;
$baytree-green-200: #daefd6;
$baytree-green-50: #f6fbf5;

$baytree-pink: #ff1d89;
$baytree-navy: #2c3e50;

$black: #000000;
$white: #ffffff;

$grey-800: #566573;
$grey-600: #808b96;
$grey-400: #abb2b9;
$grey-200: #d5d8dc;
$grey-50: #f4f5f6;
