@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

$font-family: 'Inter', Helvetica, sans-serif;
$header-font-family: 'Poppins', Helvetica, sans-serif;
$line-height: 1.5;
$font-size: 16px;

.page-title,
.widget-title {
  font-family: $header-font-family;
  font-weight: 700;
}

.page-title {
  font-size: 1.5rem;
}

.widget-title {
  font-size: 1rem;
}

.subtext {
  font-family: $font-family;
  font-weight: 400;
  font-size: 0.68rem;

  &-bold {
    font-weight: 700;
  }
}
