@import './colors.scss';

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

$font-family: 'Inter', Helvetica, sans-serif;
$header-font-family: 'Poppins', Helvetica, sans-serif;
$line-height: 1.5;
$letter-spacing: 0.5px;
$font-size: 16px;

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.page-title,
.widget-title,
.h2 {
  font-family: $header-font-family;
  font-weight: 700;
}

.page-title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;

  &.no-margin-bottom {
    margin-bottom: 0;
  }
}

.semi-bold {
  font-weight: 600;
}

.widget-title {
  font-size: 1rem;
}

.subtext {
  font-weight: 500;
  font-size: 0.6875rem;
  color: $baytree-navy;
  letter-spacing: 1px;
  text-transform: uppercase;

  &.bold {
    font-weight: 700;
  }
}

.h2 {
  font-size: 1.125rem;
  margin-bottom: 1.125rem;
  margin-top: 1.5rem;
  font-weight: normal;
}
