@import "../util/";

.mentees {
  .container {
    & > * + * {
      margin-top: 1.5rem;
    }
    .header {
      display: flex;
      justify-content: space-between;
      .page-title {
        margin: 0;
      }
    }
  }
}
