@import "../util/";

.mentee-goals, .mentee-questionnaire {
  .goal-section + .goal-section {
    margin-top: 2rem;
  }

  .goal-section, .questionnaire-section {
    & >.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.75rem;
    }

    .goal-item + .goal-item {
      margin-top: 0.5rem;
    }
  }
}
