@import "../util/";

.profile {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .back-btn {
      padding-top: 0.6rem;
      &:hover,
      &:focus {
        font-weight: bold;
      }
    }
  }
  .container {
    .form {
      & > * + * {
        margin-top: 1rem;
      }
      //Change default color of placeholder text to black
      ::placeholder {
        color: black;
        opacity: 1; /* Firefox */
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: black;
      }

      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: black;
      }
    }
  }
}
