@import "../util/";

.settings {
  .container {
    & > * + * {
      margin-top: 1.5rem;
    }
    .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5rem;
    }
    .header {
      display: flex;
      justify-content: space-between;
      .page-title {
        margin: 0;
      }
    }
  }
}
